/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
!docker/logs/nginx/.gitkeep
.DS_Store
.php_cs.cache
.idea/workspace.xml
public/vendor
docker/database/*

!docker/database/data/.gitkeep

docker/logs/*